DOCKER_UID=1000
DOCKER_GID=1000

DJANGO_SECRET_KEY=change-me-local-only
DJANGO_DEBUG=false
DJANGO_CACHE=true
DJANGO_ADMIN_ENABLED=true

DJANGO_ALLOWED_HOSTS=mojon.local,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://mojon.local

TRAEFIK_HOST_RULE=Host(`mojon.local`)

DJANGO_STATIC_URL=/soccertime/static/
DJANGO_STATIC_ROOT=/code/static
DJANGO_MEDIA_URL=/soccertime/media/
DJANGO_MEDIA_ROOT=/code/media

DJANGO_USE_X_FORWARDED_HOST=true
DJANGO_FORCE_SCRIPT_NAME=/soccertime
DJANGO_SESSION_COOKIE_PATH=/soccertime/

DJANGO_DATABASE_DEFAULT_NAME=/code/db/db.sqlite3
REQUESTS_CACHE=/code/db/soccertime_data_cache.sqlite
