Django==6.0.1
django-admin-sortable2==2.3.1
django-bootstrap5==26.1
requests==2.32.5
requests-cache==1.2.1
beautifulsoup4==4.14.3
uvicorn==0.40.0
Pillow==12.1.0
whitenoise==6.11.0

# Testing
pytest==8.3.5
pytest-django==4.9.0
pytest-cov==6.0.0

# Linting & Formatting
ruff==0.9.6


