{% for channel in event.channels.all %}
  {% with active_links=channel.enabled_links %}
    {% if active_links|length %}
      <a href="{% url "channel-events" channel.pk %}">
        <span class="badge rounded-pill text-bg-secondary">{{ channel.name }}</span>
      </a>
      {% for link in active_links %}
        {% include "soccertime/link_button.html" %}
      {% endfor %}
      <br>
    {% endif %}
  {% endwith %}
{% endfor %}
{% if 'DJANGO_DEBUG'|env %}
  {% for channel in event.channels.all %}
    {% with active_links=channel.enabled_links %}
      {% if not active_links|length %}
        <span class="badge rounded-pill text-bg-secondary"><del>{{ channel.name }}</del></span><br>
      {% endif %}
    {% endwith %}
  {% endfor %}
{% endif %}
