{% load i18n %}
{% spaceless %}
<a href="{{ link.link }}" class="text-danger{% if link.scheme == "acestream" %} acestream-link{% endif %}" role="button" data-bs-toggle="tooltip" data-bs-title="{% if link.quality != "ANY" %}{{ link.quality }}{% else %}{% translate "PLAY" %}{% endif %}"{% if link.scheme|slice:":4" == "http" %} target="_blank" rel="noopener noreferrer"{% endif %} aria-label="{% if link.quality != "ANY" %}{{ link.quality }}{% else %}{% translate "Reproducir" %}{% endif %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="currentColor" class="bi bi-play-circle-fill zoom-icon" viewBox="0 0 16 16" aria-hidden="true">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
    </svg>
</a>
{% endspaceless %}
