                <tr>
                    <th scope="row">
                        {{ event.date.time|date:'H:i' }}
                    </th>
                    <td class="text-start">
                        {{ event.details|default_if_none:"" }}
                    </td>
                    <td class="text-center" colspan="4">
                        {{ event.name }}
                    </td>
                    <td class="lh-lg">
                        {% include "soccertime/channels_list.html" %}
                    </td>
                </tr>
